<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abile2.stockcircuit"
    android:versionCode="61"
    android:versionName="1.61">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- GCM PERMISSIONS -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.abile2.stockcircuit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <!-- GCM BROADCASR RECIVER FOR APPLICATION -->
        <service android:name=".GcmIntentService" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.abile2.shopbindaas" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="stockcircuitapp.in"
                    android:scheme="http" />
                <data android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StockListView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Choose A Stock"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Stock Circuit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetAlertActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Set the Circuits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StockAlertNewsListView"
            android:label="@string/title_activity_stock_alert_news_web_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrokerDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Broker Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Your Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetRecommendedSelectedVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Stock Circuit" />
        <activity
            android:name=".GetUserRequestedVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Stock Circuit"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".CompareStocksVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Compare Stocks Fundamentals"
            android:screenOrientation="portrait"
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".GetCompareStocksVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".ChooseExchangeActivity" />
        <activity android:name=".PayUWebViewActivity" />
        <activity android:name=".TopPerformersActivity" />
        <activity android:name=".StocksRatingActivity" />
        <activity android:name=".StockStatisticActivity" />
        <activity android:name=".StockForecastActivity" />

    </application>

</manifest>